<article>
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= field_set_tag '', class: 'colour' do %>
      <input type="radio" name="user[colour]"  value="hsla(0, 80%, 40%, 1)" id="one">
      <label for="one" style="background-color:hsla(0, 80%, 40%, 1);"></label>
      
      <input type="radio" name="user[colour]"  value="hsla(45, 80%, 40%, 1)" id="two">
      <label for="two" style="background-color:hsla(45, 80%, 40%, 1);"></label>
      
      <input type="radio" name="user[colour]"  value="hsla(90, 80%, 40%, 1)" id="three">
      <label for="three" style="background-color:hsla(90, 80%, 40%, 1);"></label>
      
      <input type="radio" name="user[colour]"  value="hsla(135, 80%, 40%, 1)" id="four">
      <label for="four" style="background-color:hsla(135, 80%, 40%, 1);"></label>
      
      <input type="radio" name="user[colour]"  value="hsla(180, 80%, 40%, 1)" id="five">
      <label for="five" style="background-color:hsla(180, 80%, 40%, 1);"></label>
      
      <input type="radio" name="user[colour]"  value="hsla(225, 80%, 40%, 1)" id="six">
      <label for="six" style="background-color:hsla(225, 80%, 40%, 1);"></label>
      
      <input type="radio" name="user[colour]"  value="hsla(270, 80%, 40%, 1)" id="seven">
      <label for="seven" style="background-color:hsla(270, 80%, 40%, 1);"></label>
      
      <input type="radio" name="user[colour]"  value="hsla(315, 80%, 40%, 1)" id="eight">
      <label for="eight" style="background-color:hsla(315, 80%, 40%, 1);"></label>
    <% end %>
    <%= f.submit "Sign up" %>
  <% end %>

  <%= render "devise/shared/links" %>
</article>
