<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @plot.title %>
</p>

<p>
  <b>Description:</b>
  <%= @plot.description %>
</p>

<p>
  <b>X:</b>
  <%= @plot.x %>
</p>

<p>
  <b>Y:</b>
  <%= @plot.y %>
</p>


<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
